.login-nav {
  justify-content: center;
  text-align: center;
  align-items: flex-end;
  display: flex;
  height: 80px;
  background: #535353;
  color: white;
  width: 100%;
}

.nav {
  align-items: flex-end;
  display: flex;
  height: 120px;
  background: #535353;
  color: white;
  width: 100%;
}
.cards-container {
  margin-top: 105px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-clttge-MuiAutocomplete-root
  .MuiOutlinedInput-root {
  padding: 0px 10px !important;
}

.menu-icon-container {
  width: 100%;
}

.back-icon {
  padding: 10px;
  margin-left: 10px;
}

.hamburger-icon {
  float: right;
}
.logo {
  height: 60px;
  width: 60px;
  display: block;
  align-self: center;
  margin-left: 39px;
  margin-bottom: 30px;
}

.close-icon {
  float: right;
}

.menu-list {
  margin-top: 20px !important;
  padding: 20px !important;
}

.img-btn {
  background: none;
  border: none;
}

.MuiListItem-root {
  text-align: center !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.MuiListItem-divider {
  border-color: #ffffff !important;
  max-width: 200px !important;
  margin: auto !important;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.pl-10 {
  padding-left: 10px;
}