.location-search-btn {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.location-search-btn:hover {
  text-decoration: underline;
  color: white;
}
.font-white {
  color: white !important;
}
.button {
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
}
.ellipsis {
  padding-bottom: 4%;
}
.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.username {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-left: 39px;
  padding-bottom: 5%;
}
