.location-search-btn {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  flex: 1;
}

.location-search-btn:hover {
  text-decoration: underline;
  color: white;
}
.font-white {
  color: white !important;
}
.button {
  display: flex;
  justify-content: center;
}

.centered-content {
  display: flex;
  flex: 5;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.main-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.box-grid {
  display: flex;
  align-items: center;
  height: 100%;
}
.location-text {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-top: 2%;
  padding-bottom: 2%;
  justify-content: "space-between";
}
.location-search-text {
  text-align: center;
  flex: 6;
}
.employeeName {
  display: flex;
  flex: 1;
  justify-content: center;
}
