.box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modal-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modal-icon {
  margin: 20%;
}
.modal-title {
  margin-bottom: 20%;
}

.error-icon {
  color: red;
}

.success-icon {
  color: green;
}
