@font-face {
  font-family: "Greycliff CF";
  src: url('./assets/fonts/Greycliff CF v2.0/GreycliffCF-Regular.woff') format('woff'),
       url('./assets/fonts/Greycliff CF v2.0/GreycliffCF-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Greycliff CF";
  src: url('./assets/fonts/Greycliff CF v2.0/GreycliffCF-Medium.woff') format('woff'),
       url('./assets/fonts/Greycliff CF v2.0/GreycliffCF-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Greycliff CF";
  src: url('./assets/fonts/Greycliff CF v2.0/GreycliffCF-DemiBold.woff') format('woff'),
       url('./assets/fonts/Greycliff CF v2.0/GreycliffCF-DemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Greycliff CF";
  src: url('./assets/fonts/Greycliff CF v2.0/GreycliffCF-Bold.woff') format('woff'),
       url('./assets/fonts/Greycliff CF v2.0/GreycliffCF-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


:root {  
  font-family: "Greycliff CF";
 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(180deg,#B9C3C8, #FFFFFF);
  background-attachment: fixed;
}

body {
  margin: 0;
}


.font-white {
  color: white !important;
}

.ml-1 {
  margin-left: 1rem;
}

.mb-15px {
  margin-bottom: 15px;
}

.pb-0 {
  padding-bottom: 0;
}

.txt-end{
  display: flex;
  justify-content: end;
  margin-bottom: -39px !important;
}